@page
@model LNbank.Pages.Settings.EditModel

@{
    Model.SetTitle("Edit settings");
}

<header class="mb-3">
    <h1>@ViewData["Title"]</h1>
</header>

<div class="row">
    <div class="col-md-8 col-lg-6">
        <partial name="_SetupForm" model="Model"/>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
