@using Microsoft.AspNetCore.Identity
@using LNblitz.Data.Models

<ul class="navbar-nav">
      <li class="nav-item">
          <form class="form-inline" method="post" asp-controller="BTCPayAccountHandler" asp-action="Logout">
              <button type="submit" class="btn nav-link" style="margin-top:1px;">Logout</button>
          </form>
      </li>
</ul>
