/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Bootstrap modifications */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}
a {
  transition-duration: 0.2s;
  transition-property: background, color;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a.navbar-brand img {
  height: 45px;
  margin-right: var(--btcpay-space-s);
}

.navbar-toggler {
  color: inherit;
}

.bg-dark {
  background-color: var(--btcpay-bg-dark) !important;
}

.table-sm {
  width: calc(100% + 1rem);
  margin: 1.5rem -.5rem;
  border-radius: 4px;
  border-collapse: separate !important;
  border-spacing: 0px !important;
}

.table-sm thead > tr {
  height: 40px;
}

.table-sm thead th {
  border-bottom: none;
  border-top: none;
  font-size: 1.0rem;
}

.table-sm th,
.table-sm td {
  padding: .5rem;
}

.navbar-nav > li.nav-item .nav-link,
.navbar-nav > li.nav-item .nav-link .btn {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--btcpay-header-color-link, var(--btcpay-color-neutral-100));
}

.navbar-nav > li.nav-item .nav-link {
  border: 2px solid transparent;
}

.navbar-nav > li.nav-item .nav-link:focus,
.navbar-nav > li.nav-item .nav-link:hover {
  color: var(--btcpay-header-color-link-accent, var(--btcpay-color-white));
}

.navbar-nav > li.nav-item .nav-link.active,
.navbar-nav > li.nav-item .nav-link.active:focus,
.navbar-nav > li.nav-item .nav-link.active:hover {
  color: var(--btcpay-header-color-link-active, var(--btcpay-color-white));
}

@media (min-width: 992px) {
  .navbar-nav > li.nav-item .nav-link:focus,
  .navbar-nav > li.nav-item .nav-link:hover {
    border-bottom-color: var(--btcpay-header-color-link-accent);
  }
}

small, .small {
  font-size: 92.5%;
  line-height: 1.4;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  padding-top: var(--btcpay-space-s);
  padding-bottom: var(--btcpay-space-s);
}

/* Form
-------------------------------------------------- */
.validation-summary-errors :last-child {
  margin-bottom: 0;
}

.validation-summary-errors ul {
  padding-left: 1rem;
}


/* Firefox */
input[type=number].hide-number-spin {
  -moz-appearance: textfield;
}

/* Bootstrap Responsive Helper */
html[data-devenv]:before {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  background: var(--btcpay-color-secondary-backdrop);
  color: var(--btcpay-color-secondary-text);
  opacity: .7;
  padding: 4px 5px 3px 7px;
  font-size: 10px;
  border-top-left-radius: 4px;
}

@media (max-width: 575px) { html[data-devenv]:before { content: 'XS'; } }
@media (min-width: 576px) and (max-width: 767px) { html[data-devenv]:before { content: 'SM'; } }
@media (min-width: 768px) and (max-width: 991px) { html[data-devenv]:before { content: 'MD'; } }
@media (min-width: 992px) and (max-width: 1199px) { html[data-devenv]:before { content: 'LG'; } }
@media (min-width: 1200px) { html[data-devenv]:before { content: 'XL'; } }
@media print { html[data-devenv]:before { content: none; } }
