@page "/Wallets/{walletId}/Transactions/Delete/{transactionId}"
@model LNblitz.Pages.Wallets.Transactions.DeleteModel

@{
    ViewData["Title"] = $"Delete \"{Model.Transaction.Description}\"";
}

<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this transaction?</h3>
    
<form method="post">
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>

<a asp-page="./Index" asp-route-walletId="@Model.WalletId">Back to List</a>
