@page "/Wallets/{walletId}/Transactions/Receive"
@model LNblitz.Pages.Wallets.Transactions.ReceiveModel

@{
    ViewData["Title"] = "Receive";
}

<header class="mb-3">
    <h1>@ViewData["Title"]</h1>
</header>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transaction.Description" class="control-label"></label>
                <input asp-for="Transaction.Description" class="form-control" />
                <span asp-validation-for="Transaction.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Amount" class="control-label"></label>
                <input asp-for="Transaction.Amount" class="form-control" type="number" required />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create invoice" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p class="mt-3">
    <a asp-page="./Index" asp-route-walletId="@Model.Wallet.WalletId" class="text-secondary">Back to Wallet</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
