@page
@model ForgotPasswordConfirmation
@{
    Layout = "_LayoutSimple";
    ViewData["Title"] = "Forgot password confirmation";
}

<p>
    Please check your email to reset your password.
</p>

<p class="text-center mt-3 mb-0">
    <a asp-page="./Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Log in</a>
</p>
