@page
@model LoginModel
@{
    Layout = "_LayoutSimple";
    ViewData["Title"] = "Sign in";
}

<form id="account" method="post" class="mt-0">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-between">
            <label asp-for="Input.Password"></label>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-block btn-primary">Log in</button>
    </div>
</form>

<p class="text-center mt-3 mb-0">
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
</p>
