@{
    Layout = "_LayoutBase.cshtml";
}

@section Scripts {
    @RenderSection("Scripts", false)
}

<header class="btcpay-header mb-5">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container">
            <a class="navbar-brand" asp-page="/Wallets/Index">
                <img src="~/img/btcpay-logo.svg" alt="BTCPay Server" asp-append-version="true">
                @Model.AppName
            </a>
            <div class="navbar-collapse collapse d-sm-inline-flex">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Wallets/Index">Wallets</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (Model.IsAdmin)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Settings/Edit">Settings</a>
                        </li>
                    }
                    <li class="nav-item">
                        <form class="form-inline" method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="btn nav-link" style="margin-top:1px;">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="d-inline-flex">
                <button class="btcpay-theme-switch" type="button">
                  <svg width="1em" height="1em" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                    <path class="btcpay-theme-switch-dark" transform="translate(1 1)" d="M2.72 0A3.988 3.988 0 000 3.78c0 2.21 1.79 4 4 4 1.76 0 3.25-1.14 3.78-2.72-.4.13-.83.22-1.28.22-2.21 0-4-1.79-4-4 0-.45.08-.88.22-1.28z"/>
                    <path class="btcpay-theme-switch-light" transform="translate(1 1)" d="M4 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5S4.28 0 4 0zM1.5 1c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zM4 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM.5 3.5c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm7 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zM1.5 6c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zm5 0c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5-.22-.5-.5-.5zM4 7c-.28 0-.5.22-.5.5s.22.5.5.5.5-.22.5-.5S4.28 7 4 7z"/>
                  </svg>
                </button>
                <noscript><style>.btcpay-theme-switch { display: none; }</style></noscript>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
            </div>
        </div>
    </nav>
</header>
<div class="container flex-grow-1">
    <main role="main" class="pb-3">
        @if (Model.NeedsSettings)
        {
            if (Model.IsAdmin)
            {
                <div class="alert alert-danger mb-5" role="alert">
                    This app isn't fully set up, yet. Please <a class="alert-link" asp-page="/Settings/Edit">provide the missing settings</a>.
                </div>
            }
            else
            {
                <div class="alert alert-warning mb-5" role="alert">
                    This app isn't fully set up, yet. Please note that it might not work correctly.
                </div>
            }
        }
        @RenderBody()
    </main>
</div>
